:root {
  --background-color-light: #ecf0f3;
  --background-color-gray: #dee2e6;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.showcase{
  background-color: var(--background-color-gray);
}
.aboutme{
  background-color: var(--background-color-light);
}
.projects{
  background-color: var(--background-color-gray);
}
