{% block contact %}

<section class="contact p-5" id="contact">
  <div class="container-flex bg-body p-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div>
            <p></p>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <form class="row" novalidate>
              <div class="col-md-9 mb-3">
                <label for="validationCustom01" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom01"
                  value="Mark"
                  required
                />

                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="col-md-9 mb-3">
                <label for="validationCustomUsername" class="form-label"
                  >Email</label
                >
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend">@</span>
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustomUsername"
                    aria-describedby="inputGroupPrepend"
                    required
                  />
              </div>
              
              <div class="col-md-12 mb-3">
                <label for="validationTextarea" class="form-label"
                  >Textarea</label
                >
                <textarea
                  class="form-control"
                  id="validationTextarea"
                  placeholder="Required example textarea"
                  required
                ></textarea>
                <div class="invalid-feedback">
                  Please enter a message in the textarea.
                </div>
              </div>
              <div class="col-12">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="invalidCheck"
                    required
                  />
                  <label class="form-check-label" for="invalidCheck">
                    Agree to terms and conditions
                  </label>
                  <div class="invalid-feedback">
                    You must agree before submitting.
                  </div>
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary" type="submit">
                  Submit form
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
