{% block content %}
<main class="main bg-light">
  <section id="about" class="about">
    <div class="container-flex bg-light p-5">
      <div class="row pb-5">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a about">About me</h3>



      <div class="container-flex bg-body">
        <div class="text-black pt-5 pb-4">
          <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
              <div class="col-md-6 col-lg-6 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="projects" class="projects">
    <div class="container-flex bg-light pb-5">
      <div class="row p-5">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a about">Projects</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
              suscipit tenetur! Ipsa, tenetur temporibus voluptatum totam ut
              culpa cum ipsam quis labore facilis alias illo voluptatem libero
              ea, quasi id.
            </p>
          </div>
        </div>
      </div>
      <div class="container pt-5 pb-5 shadow-sm p-5 bg-body">
        <div class="text-black pt-5 pb-4">
          <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="blog" class="blog">
    <div class="container-flex bg-light pb-5">
      <div class="row p-5">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a about">Blog</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
              suscipit tenetur! Ipsa, tenetur temporibus voluptatum totam ut
              culpa cum ipsam quis labore facilis alias illo voluptatem libero
              ea, quasi id.
            </p>
          </div>
        </div>
      </div>

        <div class="container pt-5 pb-5 shadow-sm p-5 bg-body">
          <div class="text-black pt-5 pb-4">
            <div class="container text-center text-md-left">
              <div class="row text-center text-md-left">
                <div class="col-md-4 col-lg-4 mx-auto mt-3">
                  <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Adipisci eum, praesentium voluptates at sequi veritatis
                    facere maxime omnis dolorum doloremque reiciendis rem dicta
                    iure ipsam illo, officiis velit? Totam, consequatur!
                  </p>
                </div>
                <div class="col-md-4 col-lg-4 mx-auto mt-3">
                  <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Adipisci eum, praesentium voluptates at sequi veritatis
                    facere maxime omnis dolorum doloremque reiciendis rem dicta
                    iure ipsam illo, officiis velit? Totam, consequatur!
                  </p>
                </div>
                <div class="col-md-4 col-lg-4 mx-auto mt-3">
                  <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Adipisci eum, praesentium voluptates at sequi veritatis
                    facere maxime omnis dolorum doloremque reiciendis rem dicta
                    iure ipsam illo, officiis velit? Totam, consequatur!
                  </p>
                </div>
                <div class="col-md-4 col-lg-4 mx-auto mt-3">
                  <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Adipisci eum, praesentium voluptates at sequi veritatis
                    facere maxime omnis dolorum doloremque reiciendis rem dicta
                    iure ipsam illo, officiis velit? Totam, consequatur!
                  </p>
                </div>
                <div class="col-md-4 col-lg-4 mx-auto mt-3">
                  <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Adipisci eum, praesentium voluptates at sequi veritatis
                    facere maxime omnis dolorum doloremque reiciendis rem dicta
                    iure ipsam illo, officiis velit? Totam, consequatur!
                  </p>
                </div>
                <div class="col-md-4 col-lg-4 mx-auto mt-3">
                  <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Adipisci eum, praesentium voluptates at sequi veritatis
                    facere maxime omnis dolorum doloremque reiciendis rem dicta
                    iure ipsam illo, officiis velit? Totam, consequatur!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- === END Main  ==== -->
</main>

{% endblock %}
