{% block content %}
<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="shadow p-3 mb-5 bg-body rounded">
          <div class="row">
            <div class="col-md-6">
              repellat natus officiis, repellendus cum dolorum molestiae tempore
              et tempora ad, possimus temporibus voluptatem modi, mollitia
              magnam laborum eligendi explicabo. Accusamus, ex nihil.
            </div>
            <div class="col-md-6">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Praesentium, consequuntur. Ab eum debitis voluptatum numquam
              expedita perspiciatis, corporis nesciunt quam eaque sapiente
              corrupti labore dolores ipsum placeat aperiam, praesentium dicta.
              voluptatibus iste quisquam?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
