{% block content %}
<main class="main bg-light pt-5">
  <section id="about" class="about">
    <div class="container">
      <div class="row pb-5">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a about">About</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
              suscipit tenetur! Ipsa, tenetur temporibus voluptatum totam ut
              culpa cum ipsam quis labore facilis alias illo voluptatem libero
              ea, quasi id.
            </p>
          </div>
        </div>
      </div>
      <div class="container pt-5 pb-5 shadow-sm p-5 bg-body">
        <div class="text-black pt-5 pb-4">
          <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="projects" class="projects">
    <div class="container">
      <div class="row p-5">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a about">Projects</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
              suscipit tenetur! Ipsa, tenetur temporibus voluptatum totam ut
              culpa cum ipsam quis labore facilis alias illo voluptatem libero
              ea, quasi id.
            </p>
          </div>
        </div>
      </div>
      <div class="container pt-5 pb-5 shadow-sm p-5 bg-body">
        <div class="text-black pt-5 pb-4">
          <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="blog" class="blog">
    <div class="container">
      <div class="row p-5">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a about">Blog</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
              suscipit tenetur! Ipsa, tenetur temporibus voluptatum totam ut
              culpa cum ipsam quis labore facilis alias illo voluptatem libero
              ea, quasi id.
            </p>
          </div>
        </div>
      </div>
      <div class="container pt-5 pb-5 shadow-sm p-5 bg-body">
        <div class="text-black pt-5 pb-4">
          <div class="container text-center text-md-left">
            <div class="row text-center text-md-left">
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
              <div class="col-md-4 col-lg-4 mx-auto mt-3">
                <h5 class="mb-4">orem ipsum dolor sit amet</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci eum, praesentium voluptates at sequi veritatis facere
                  maxime omnis dolorum doloremque reiciendis rem dicta iure
                  ipsam illo, officiis velit? Totam, consequatur!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <div
    class="paralax bg-image"
    style="
      background-image: url(../static/img/mountains.webp);
      background-attachment: fixed;
      background-position: bottom;
      background-repeat: no-repeat;
      height: 50vh;
      background-size: cover;
      background-size: contain;
    "
  ></div> -->
</main>
{% endblock %}
