{% block footer %}
<footer id="footer" class="footer">
  <div class="bg-dark text-white pt-5 pb-5">
    <div class="container">
      <div class="row text-center text-md-left">
        <div class="col-md-9 col-lg-9 mx-auto mt-9 pb-3">
          <span class="icon"
            ><a href="https://github.com/sebkozlo" target="_blank"
              ><i class="fa-brands fa-2xl fa-github p-3"></i
            ></a>
            <a href="https://linkedin.com/in/sebastiankozlowski" target="_blank"
              ><i class="fa-brands fa-2xl fa-linkedin p-3"></i></a
          ></span>
          <p class="pt-3">© Copyright Sebastian Kozłowski. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
  <!-- === END Footer ==== -->
</footer>
{% endblock %}
