{% block header %}
<nav class="navbar navbar-expand-sm navbar-light border">
  <div class="container">
    <a href="#" class="navbar-brand mb-0 h1">Hi, i'm Sebastian</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#toggleMobileMenu"
      aria-controls="#toggleMobileMenu"
      aria-expanded="false"
      aria-label="Toggle navigarion"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse nav justify-content-center"
      id="toggleMobileMenu"
    >
      <ul class="navbar-nav mr-auto text-center">
        <li class="nav-item active">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Projects</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-flex img">
  <img src="../static/img/mountains_panorama.png" class="img-fluid mx-auto
  d-block" alt="logo" width="100%"" />
</div>

{% endblock %}
