{% block header %}
<header class="header">
  <nav
    class="navbar navbar-expand-sm fixed-top navbar-light bg-dark shadow-sm"
    style="--bs-bg-opacity: 0.95"
  >
    <div class="container">
      <a href="#" class="navbar-brand mb-3 text-white">Hi, i'm Sebastian</a>
      <button
        class="navbar-toggler bg-light"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#toggleMobileMenu"
        aria-controls="#toggleMobileMenu"
        aria-expanded="false"
        aria-label="Toggle navigarion"
      ></button>
      <div
        class="collapse navbar-collapse nav justify-content-center align-items-center"
        id="toggleMobileMenu"
      >
        <ul class="navbar-nav mr-auto text-center">
          <li class="nav-item active">
            <a href="#" class="nav-link text-white">HOME</a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link text-light">ABOUT</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link text-white">PROJECTS</a>
          </li>
          <li class="nav-item">
            <a href="#blog" class="nav-link text-white">BLOG</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link text-white">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-flex img">
    <img
      src="../static/img/laptop.svg"
      class="img-fluid mx-auto d-block"
      alt="logo"
      width="100%"
    />
  </div>
</header>

{% endblock %}
